<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Carro</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Estoque Veículos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/portfolio">Voltar para o Portfólio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cadastro_carros">Cadastro de Veículos</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <h1 class="my-4">Editar Carro</h1>
    <form action="/edit_carro/{{ veiculo[0] }}" method="POST">
      <div class="form-group">
        <label for="modelo">Placa</label>
        <input type="text" class="form-control" id="placa" name="placa" value="{{ veiculo[0] }}" required>
      </div>
      <div class="form-group">
        <label for="modelo">Modelo</label>
        <input type="text" class="form-control" id="modelo" name="modelo" value="{{ veiculo[1] }}" required>
      </div>
      <div class="form-group">
        <label for="cor">Chassi</label>
        <input type="text" class="form-control" id="chassi" name="chassi" value="{{ veiculo[2] }}" required>
      </div>
      <div class="form-group">
        <label for="cor">Ano</label>
        <input type="text" class="form-control" id="ano" name="ano" value="{{ veiculo[3] }}" required>
      </div>
      <div class="form-group">
        <label for="cor">Cor</label>
        <input type="text" class="form-control" id="cor" name="cor" value="{{ veiculo[4] }}" required>
      </div>
      <div class="form-group">
        <label for="km">KM</label>
        <input type="text" class="form-control" id="km" name="km" value="{{ veiculo[5] }}" required>
      </div>
      <div class="form-group">
        <label for="preco">Preço</label>
        <input type="text" class="form-control" id="preco" name="preco" value="{{ veiculo[6] }}" required>
      </div>
      <div class="form-group">
        <label for="marca">Marca:</label>
        <select class="form-control" id="marca" name="marca" value="{{ veiculo[7] }}" required>
            <option value="Volkswagen">Volkswagen</option>
            <option value="Ford">Ford</option>
            <option value="Chevrolet">Chevrolet</option>
            <option value="Nissan">Nissan</option>
            <option value="Kia">Kia</option>
            <option value="Peugeot">Peugeot</option>
            <option value="Hyundai">Hyundai</option>
            <option value="Citroën">Citroën</option>
            <option value="Honda">Honda</option>
            <option value="Jeep">Jeep</option>
        </select>
        <div class="form-group">
          <label for="categoria">Categoria:</label>
          <select class="form-control" id="categoria" name="categoria" value="{{ veiculo[8] }}" required>
              <option value="Sedã">Sedã</option>
              <option value="Hatch">Hatch</option>
              <option value="Picape">Picape</option>
              <option value="SUV">SUV</option>
              <option value="Van">Van</option>
              <option value="Jipe">Jipe</option>
          </select>
        <div class="form-group" id="status" name="status" value="{{ veiculo[9] }}" required></div>>
        <label for="status">Selecione o status:</label><br>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="statusDisponivel" name="status" class="custom-control-input" value="Disponível" checked>
            <label class="custom-control-label" for="statusDisponivel">Disponível</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="statusAlugado" name="status" class="custom-control-input" value="Alugado">
            <label class="custom-control-label" for="statusAlugado">Alugado</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="statusManutencao" name="status" class="custom-control-input" value="Manutenção">
            <label class="custom-control-label" for="statusManutencao">Manutenção</label>
        </div>
      <button type="submit" class="btn btn-primary">Salvar Alterações</button>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>
