*{
    margin: 0;
    padding: 0;
}

#titulo{
    font-family: sans-serif;
    color: #0b2e7a;
    margin-left: 7%;
}

#subtitulo{
    font-family: sans-serif;
    color: #364c7a;
    margin-left: 10%;
}

fieldset{
    border: 0;
}

body{
    background-color: #adb3c0;
    font-family: sans-serif;
    font-size: 1em;
    color: #0b2e7a;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

input, select, textarea, button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: #0b2e7a;
    display: block;
}

fieldset.grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid #0b2e7a;
    box-shadow: 2px 2px 2px rgb(0, 0, 0.2);
    display: block;
}

.campo select option{
    padding-right: 1em;
}

.campo input :focus, .campo select :focus, .campo textarea :focus{
    background-color: #E0E0F8;
}

.botao{
    font-size: 1.2em;
    background-color: #0b2e7a;
    border: 0;
    margin-bottom: 10em;
    color: #FFFFFF;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgb(0, 0, 0.2);
    text-shadow: 1px 1px 1px rgb(0, 0, 0.5);
    position: relative;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao:hover{
    background: #364c7a;
    box-shadow: 2px 2px 2px rgb(0, 0, 0.2);
    text-shadow: none;
}

#picture__input {
    display: none;
  }
  
  .picture {
    width: 400px;
    aspect-ratio: 16/9;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed currentcolor;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
    margin-top: 15px;
  }
  
  .picture:hover {
    color: #777;
    background: #ccc;
  }
  
  .picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
  }
  
  .picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .picture__img {
    max-width: 100%;
  }